body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: #494947;
  line-height: 1.5;
  background-color: #e3d592;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1{
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
}

p{
  font-size: 1rem;
}

img{
  width: 100%;
  min-height: 15vh;
  margin: 0px 0px;
}
